.controls {
  margin-top: 10px;
}

button {
  background-color: greenyellow;

}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}
.maze-container {
  display: flex;
  justify-content: center;
  /* align-items: center;
  height: 10vh;
  width: 30vw;
  margin: 0 auto; */
  height: 300px;
  width: 40%;

}
.maze-img {
  display: block;
  margin: auto;
  width: 50%;
  } 
