.game-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* min-height: 100vh;
  min-width: 100vw; */

  overflow: hidden;
  bottom: 0;
  left: 0;

}

.background {
  z-index: -200;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;

  object-fit: fill;
  position: fixed;
}


.item {
  position: absolute;
  width: 40%;
  width: 10%;
  height: 10%;

  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}


.character {
  position: absolute;
  z-index: -1;
  bottom: 0%;
  height: 70%;
  transition: transform 0.3s;
}


/* .character-container-right { margin-left: 50%; }
.character-container-left { margin-right: 100%; }
.character-container-center { margin-left: 1%; } */
.character-container-right { 
  position: fixed;
  left: 50%;
  width: 33%;
  height: 100%;
}
.character-container-left { 
  position: fixed;
  left: -10%;
  width: 33%;
  height: 100%;

}
.character-container-center {   position: fixed;
  left: 20%;
  width: 33%;
  height: 100%;
 }

.character-container-logo { 
  width: 100%;
  height: 100%;
  position: fixed;
  /* bottom: 50%;
  left: 50%; */
}


.dialog-box {
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 80%;
  /* background: rgba(0, 0, 0, 0.7); */
  color: white;
  padding: 20px;
  text-align: left;
  transform: translateX(-50%);
  cursor: pointer;
}

.choices-box {
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 60%;
  background: rgba(255, 255, 255, 0.9);
  padding: 1%;
  text-align: center;
  transform: translateX(-50%);
}

.choices-box button {
  margin: 1%;
  padding: 2%;
  background-color: pink;

}

.accessory-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 60%;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  text-align: center;
  transform: translateX(-50%);
}
.accessory-grid {
  display: flex;
  justify-content: space-evenly;
}
img.accessory-choice {
  width: 20%;
  height: 20%;
}


img.accessory-hat { 
  bottom: 30%;
  top: 30%;
  left: 35%;  

  position: relative;
  width: 30%;
  
}

img.accessory-hat-left { 
  margin-bottom: 10%;
  bottom: 30%;

  margin-right: 100%;
  position: fixed;
  width: 20%;
}
img.accessory-hat-right { 
  margin-bottom: 10%;
  bottom: 30%;
  position: fixed;
  width: 20%;
}
img.accessory-hat-center { 
  margin-bottom: 10%;
  bottom: 30%;
  margin-left: 1%;
  position: fixed;
  width: 20%;
}



img.accessory-earrings-left { 
  margin-bottom: 10%;
  bottom: 13%;
  margin-left: 1%;

  margin-right: 100%;
  position: fixed;
  width: 20%;
}
img.accessory-earrings-right { 
  margin-bottom: 10%;
  bottom: 13%;
  position: fixed;
  width: 20%;
  margin-left:1%;
}
img.accessory-earrings-center { 
  margin-bottom: 10%;
  bottom: 13%;
  margin-left: 1%;
  position: fixed;
  width: 20%;
}


img.accessory-necklace-left { 
  margin-bottom: 5%;
  bottom: 0%;
  margin-left: 6%;
  bottom: 0%;

  margin-right: 100%;
  position: fixed;
  width: 10%;
}
img.accessory-necklace-right { 
  margin-bottom: 5%;
  bottom: 0%;
  margin-left: 6%;
  position: fixed;
  width: 10%;
}
img.accessory-necklace-center { 
  margin-bottom: 5%;
  bottom: 0%;
  margin-left: 6%;
  position: fixed;
  width: 10%;
}





